/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:wght@400..700&family=Croissant+One&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

:root {
  /* Brand */
  --primary: oklch(0.58 0.22 259);
  --secondary: oklch(0.97 0.01 255);

  /* Status */
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  /* Surface */
  --background: oklch(1 0 0);
  --foreground: oklch(0.18 0.02 255);

  --card: oklch(0.99 0.01 255);
  --card-foreground: oklch(0.18 0.02 255);

  --muted: oklch(0.96 0.01 255);
  --muted-foreground: oklch(0.55 0.02 255);

  --border: oklch(0.91 0.01 255);
  --input: oklch(0.91 0.01 255);

  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.14 0.02 255);
  --foreground: oklch(0.98 0 0);

  --card: oklch(0.19 0.02 255);
  --card-foreground: oklch(0.98 0 0);

  --primary: oklch(0.70 0.18 255);
  --secondary: oklch(0.24 0.02 255);

  --muted: oklch(0.24 0.02 255);
  --muted-foreground: oklch(0.72 0.01 255);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  /* Fonts */
  --font-primary: "Lora", serif;
  --font-secondary: "Inter", sans-serif;
  --font-heading: "Croissant One", serif;

  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-primary;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* ========= editor classes ====== */
.prose blockquote {
  margin: 2rem 0;
  padding: 1.5rem;

  background: linear-gradient(
    135deg,
    #f8fbff,
    #eef5ff
  );

  border-left: 6px solid #2563eb;

  border-radius: 14px;

  box-shadow:
    0 8px 20px rgba(0,0,0,.05);

  font-style: italic;
}